[Desktop Entry]
Name=Google Drive
Categories=Network;
Exec=~/.webapps/google-drive/google-drive
Icon=google-drive
Path=
StartupNotify=true
Terminal=false
Type=Application
Version=1.0

Actions=in-browser;reinstall;uninstall;
[Desktop Action reinstall]

Name=Reinstall
Exec=kdialog --title Reinstall --warningyesno 'Are you sure?' && nativefier-freedesktop ~/.webapps/installers/google-drive.webapp
Icon=view-refresh

Name[it]=Reinstalla
Exec[it]=kdialog --title Reinstalla --warningyesno 'Sei sicuro?' && nativefier-freedesktop ~/.webapps/installers/google-drive.webapp


[Desktop Action uninstall]

Name=Uninstall
Exec=kdialog --title Uninstall --warningyesno 'Are you sure?' && rm -rf ~/.webapps/google-drive/ && rm -rf ~/.local/share/applications/google-drive.desktop
Icon=edit-delete

Name[it]=Disinstalla
Exec[it]=kdialog --title Disinstalla --warningyesno 'Sei sicuro?' && rm -rf ~/.webapps/google-drive/ && rm -rf ~/.local/share/applications/google-drive.desktop

[Desktop Action in-browser]

Name=Open in the browser
Exec=xdg-open drive.google.com
Icon=internet-web-browser
Name[it]=Apri nel browser

